*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap{
    max-width: 500px;
    padding: 50px 30px;
    margin: 0 auto;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.form{
    padding: 20px;
    border: 2px solid black;
}